@tailwind base;
@tailwind components;
@tailwind utilities;

/* .neon-text {
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
  }
  
  .neon-button {
    box-shadow: 0 0 10px #00ffff;
  }
  
  .neon-glow {
    text-shadow: 0px 0px 10px rgba(0, 255, 255, 0.8);
  }
   */